.table {
    display: flex;
}

.table__row {
    display: flex;
    position: relative;
    align-items: center;
}

.table--header {
    font-weight: bold;
}

.table--header .table__td {
    border-top: 1px solid #000000;
}

.table__td {
    min-width: 100px;
    max-width: 100px;

    padding: 5px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.table__td:first-child {
    border-left: 1px solid #000;
}

.table__buttons {
    position: absolute;
    display: flex;
    align-items: center;
    right: -105px;
}

.table__buttons button {
    margin: 0 2px;
    padding: 0.2em 0.7em;
    font-size: 0.7em;
}